<form action="/shorten" method="post" style="text-align: center;">
  <label for="originalUrl">Enter an https:// URL:</label>
  <input type="url" class="form-control" name="originalUrl" id="originalUrl" placeholder="https://example.com"
    style="width: 20vw;" required />
  <button type="submit" class="btn btn-dark mt-4">Shorten</button>
</form>