<div class="d-flex justify-content-between align-items-center" style="width:22vw;">
  <h6>NOT FOUND: </h6>
  <input value="localhost:3000/{{ wrongUrl }}" disabled/>
</div>
<p class="mt-2 text-danger">Please check the URL again!!!</p>
<div>
  <a href="/" class="btn btn-primary mt-2 mx-1">Back</a>
</div>