body {
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.box {
  margin: 13% 0 0 35%;
  padding: 3% 5%;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.08);
}

.fas {
  font-size: 19vw;
}

img {
  width: 10vw;
  margin-bottom: 10%;
  padding: 4%;
}

h1 {
  font-size: 3vw;
  color: #0c0c0c;
  margin-bottom: 10%;
}

input {
  border-radius: 50%;
  width: 10vw;
}

a {
  font-size: 1.2vw;
  margin-left: 0.4vw;
}

h5 {
  font-size: 1.2vw;
  margin-bottom: 0;
}